<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/category.css">
    <script type="module" src="../../assets/js/category.js" defer></script>
    <script src="https://kit.fontawesome.com/db27c17fae.js" crossorigin="anonymous"></script>
    <title>Category</title>
</head>
<body>
<% if (category && eggs) { %>
    <script>
        const currentCategories = <%- JSON.stringify(categories) %>;
        const currentCategory = <%- JSON.stringify(category) %>;
        let currentEggs = <%- JSON.stringify(eggs) %>;
    </script>
<% } %>
<div class="header_wrapper">
    <a href="/"><i class="fa fa-arrow-left"></i></a>
    <h1><%= category.name %></h1>
    <i class='fas fa-egg'></i>
</div>
<div class="table_wrapper">
    <div class="buttons_form_wrapper">
        <div class="edit_form_wrapper">
            <button class="edit_category_button">Edit</button>
            <form class="edit_category_form">
                <label>
                    <input value=<%= category.name %> id="name" type="text">
                </label>
                <button type="submit">Save</button>
            </form>
        </div>
        <button class="delete_category_button">Delete</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="th-image"></th>
                <th class="th-name">Egg Name</th>
                <th class="th-desire">Desire</th>
                <th class="th-discovered">Discovered Date</th>
            </tr>
        </thead>
        <tbody>
        <% eggs.forEach(egg => { %>
            <tr>
                <td class="td-image"><img src="<%= egg.image %>" alt="No image"></td>
                <td class="td-name"><%= egg.name %></td>
                <td class="td-desire"><%= egg.desire %></td>
                <td class="td-discovered"><%= egg.date.toLocaleDateString() %></td>
            </tr>
        <%})%>
        </tbody>
    </table>
    <button class="add_egg_button">Add egg</button>
</div>
<div class="modal">
    <form class="add_egg_form">
        <input id="name" name="name" type="text" placeholder="Name">
        <input id="description" name="description" type="text" placeholder="Description">
        <input id="image" name="image" type="file">
        <input id="desire" name="desire" type="text" placeholder="Desire">
        <input id="date" name="date" type="text" placeholder="Discovered Date" onfocus="(this.type='date')">
        <div class="form_buttons">
            <button type="button" class="cancel_button">Cancel</button>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>