<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/mainPage.css">
    <script type="module" src="../../assets/js/mainPage.js" defer></script>
    <title>Egg Encyclopedia</title>
</head>
<body>
<% if (categories && eggs) { %>
    <script>
        let currentCategories = <%- JSON.stringify(categories) %>
        let currentEggs = <%- JSON.stringify(eggs) %>
    </script>
<% } %>
<h1>Eggcyclopedia</h1>
<p>Here you can find all the information about eggs you need!</p>
<div class="table_button_wrapper">
    <table class="table">
        <tbody>
        <% for (let i = 0; i < categories.length; i += 2) { %>
            <% let category = categories[i]; %>
            <% let nextCategory = categories[i + 1]; %>
            <tr>
                <td><%= category.name %> | <%= category.eggs.length %> eggs</td>
                <% if (nextCategory) { %>
                    <td><%= nextCategory.name %> | <%= nextCategory.eggs.length %> eggs</td>
                <% } else { %>
                    <td></td>
                <% }%>
            </tr>
        <% } %>
        </tbody>
    </table>
    <button class="show_form_button">Add category</button>
    <form class="form">
        <label>
            <input type="text" id="category_name">
        </label>
        <button type="submit">Save</button>
    </form>
</div>
<h2>New eggies</h2>
<ul class="list">
    <% eggs.forEach(function(egg) { %>
        <li class="card">
            <img src="<%= egg.image %>" alt="Egg Image" class="card">
            <strong><%= egg.name %></strong>
            <p>Discovered: <%= egg.date.toLocaleDateString() %></p>
        </li>
    <% }); %>
</ul>
</body>
</html>